---
import { Image } from 'astro:assets';
import Container from './Container.astro';
import microsoftClientImage from '@assets/clients/microsoft.svg';
import airbnbClientImage from '@assets/clients/airbnb.svg';
import googleClientImage from '@assets/clients/google.svg';
import geClientImage from '@assets/clients/ge.svg';
import netflixClientImage from '@assets/clients/netflix.svg';
import googleCloudClientImage from '@assets/clients/google-cloud.svg';
---

<div class="relative" id="home">
	<div
		aria-hidden="true"
		class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20"
	>
		<div
			class="from-primary h-56 bg-gradient-to-br to-purple-400 blur-[106px] dark:from-blue-700"
		></div>
		<div class="h-32 bg-gradient-to-r from-cyan-400 to-sky-300 blur-[106px] dark:to-indigo-600"
		></div>
	</div>
	<Container>
		<div class="relative ml-auto pt-36">
			<div class="mx-auto text-center lg:w-2/3">
				<h1 class="text-5xl font-bold text-gray-900 md:text-6xl xl:text-7xl dark:text-white"
					>Shaping a world with <span class="text-primary dark:text-white"
						>reimagination.</span
					></h1
				>
				<p class="mt-8 text-gray-700 dark:text-gray-300"
					>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio incidunt nam
					itaque sed eius modi error totam sit illum. Voluptas doloribus asperiores
					quaerat aperiam. Quidem harum omnis beatae ipsum soluta!</p
				>
				<div class="mt-16 flex flex-wrap justify-center gap-x-6 gap-y-4">
					<a
						href="#"
						class="before:bg-primary relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
					>
						<span class="relative text-base font-semibold text-white">Get started</span>
					</a>
					<a
						href="#"
						class="before:bg-primary/10 relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:border before:border-transparent before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max dark:before:border-gray-700 dark:before:bg-gray-800"
					>
						<span class="text-primary relative text-base font-semibold dark:text-white"
							>Learn more</span
						>
					</a>
				</div>
				<div
					class="mt-16 hidden justify-between border-y border-gray-100 py-8 sm:flex dark:border-gray-800"
				>
					<div class="text-left">
						<h6 class="text-lg font-semibold text-gray-700 dark:text-white"
							>The lowest price</h6
						>
						<p class="mt-2 text-gray-500">Some text here</p>
					</div>
					<div class="text-left">
						<h6 class="text-lg font-semibold text-gray-700 dark:text-white"
							>The fastest on the market</h6
						>
						<p class="mt-2 text-gray-500">Some text here</p>
					</div>
					<div class="text-left">
						<h6 class="text-lg font-semibold text-gray-700 dark:text-white"
							>The most loved</h6
						>
						<p class="mt-2 text-gray-500">Some text here</p>
					</div>
				</div>
			</div>
			<div class="mt-12 grid grid-cols-3 sm:grid-cols-4 md:grid-cols-6">
				<div class="p-4 grayscale transition duration-200 hover:grayscale-0">
					<Image
						src={microsoftClientImage}
						class="mx-auto h-12 w-auto"
						loading="lazy"
						alt="client logo"
					/>
				</div>
				<div class="p-4 grayscale transition duration-200 hover:grayscale-0">
					<Image
						src={airbnbClientImage}
						class="mx-auto h-12 w-auto"
						loading="lazy"
						alt="client logo"
					/>
				</div>
				<div class="flex p-4 grayscale transition duration-200 hover:grayscale-0">
					<Image
						src={googleClientImage}
						class="m-auto h-9 w-auto"
						loading="lazy"
						alt="client logo"
					/>
				</div>
				<div class="p-4 grayscale transition duration-200 hover:grayscale-0">
					<Image
						src={geClientImage}
						class="mx-auto h-12 w-auto"
						loading="lazy"
						alt="client logo"
					/>
				</div>
				<div class="flex p-4 grayscale transition duration-200 hover:grayscale-0">
					<Image
						src={netflixClientImage}
						class="m-auto h-8 w-auto"
						loading="lazy"
						alt="client logo"
					/>
				</div>
				<div class="p-4 grayscale transition duration-200 hover:grayscale-0">
					<Image
						src={googleCloudClientImage}
						class="mx-auto h-12 w-auto"
						loading="lazy"
						alt="client logo"
					/>
				</div>
			</div>
		</div>
	</Container>
</div>
