---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import Container from '@components/container.astro';
import SectionHead from '@components/section-head.astro';
import Layout from '@layouts/layout.astro';

// Filter blog entries with 'draft: false' & date before current date
const publishedBlogEntries = await getCollection('posts', ({ data }) => {
  return !data.draft && data.publishedAt < new Date();
});

// Sort content entries by publication date
publishedBlogEntries.sort((a, b) => b.data.publishedAt.valueOf() - a.data.publishedAt.valueOf());
---

<Layout title="Blog">
  <Container>
    <div class="relative ml-auto pt-36">
      <SectionHead>
        <Fragment slot="title">Our Blog</Fragment>
        <Fragment slot="desc">
          We write about building startups and thoughts going on our mind.
        </Fragment>
      </SectionHead>
      <main class="mt-16">
        <ul class="mx-auto grid max-w-4xl gap-16">
          {
            publishedBlogEntries.map((blogPostEntry, index) => (
              <li>
                <a href={`/blog/${blogPostEntry.slug}`} data-astro-prefetch>
                  <div class="grid items-center gap-5 md:grid-cols-2 md:gap-10">
                    <Image
                      src={blogPostEntry.data.image.src}
                      alt={blogPostEntry.data.image.alt}
                      width={428}
                      height={241}
                      sizes="(max-width: 800px) 100vw, 800px"
                      widths={[200, 400, 800]}
                      loading={index <= 2 ? "eager" : "lazy"}
                      decoding={index <= 2 ? "sync" : "async"}
                      class="w-full rounded-md"
                    />
                    <div>
                      <span class="text-sm font-medium uppercase tracking-wider text-blue-400">
                        {blogPostEntry.data.category}
                      </span>

                      <h2 class="mt-1 text-3xl font-semibold leading-snug tracking-tight ">
                        {blogPostEntry.data.title}
                      </h2>

                      <div class="mt-3 flex gap-2">
                        <span class="text-gray-400">
                          {blogPostEntry.data.author}
                        </span>
                        <span class="text-gray-400">• </span>
                        <time
                          class="text-gray-400"
                          datetime={blogPostEntry.data.publishedAt.toISOString()}
                        >
                          {blogPostEntry.data.publishedAt.toDateString()}
                        </time>
                      </div>
                    </div>
                  </div>
                </a>
              </li>
            ))
          }
        </ul>
      </main>
    </div>
  </Container>
</Layout>
